body {
	width: 100%;
	margin: 0 auto;
	background-color: #28272a;
	color: #F2E8CF;
	font-family: 'DM Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
}

#pembungkus_navbar {
	width: 100%;
	min-width: 980px;
	/* background-color: #4C7DE8; */
	background-color: #356EE8;
}

#navbar {
	width: 980px;
	margin: 0px auto;
	padding: 0px;
	height: 85px;
}


#navbar form {
	margin-top: 30px;
	float: right;
}
